body{
    text-align: center;
}
div{
    height: 100px;
    width: 200px;
    display: inline-block;
    border: 2px solid black;
}
#content{
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-content: center; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */

}
#box1{
    background-color: lightblue;
}
#box2{
    background-color: pink;
    height: 200px;
    flex-shrink: 2;
    /*align-self: flex-end;  This properties have highest priority then other property */
}
#box3{
    background-color: lightgreen;
}
#box4{
    background-color: lightgrey;
    height: 200px;
    flex-grow: 1;
}
#box5{
    background-color: lightseagreen;
}