div{
    height: 100px;
    background-color: pink;
    width: 100px;
    border: 3px double purple;
    border-radius: 10px;
    text-align: center;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; */
    padding:10px 20px 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    height: 100px;
    width: 200px;
    background-color: skyblue;
    /*Sorthand method*/
    border: 5px double purple;
    
    /* border-width: 2px;
    border-color:blueviolet;
    border-style: double; */
}

