div{
    background-color: greenyellow;
    height: 300px;
    width: 250px;
    background-image: url("photo1.jpg");
    background-size: cover;
    color: yellow;
    text-align: center;
    position: fixed;
    right:0px;
    top: 50px;
}